In [1]:
import pandas as pd
import numpy as np
import math
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestRegressor,RandomForestClassifier
from sklearn.preprocessing import Imputer
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import math

train_raw = pd.read_csv("Data_Train_.csv")

In [2]:
train_raw.head()

,Name,Brand1,Brand2,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Mileage_kmpl,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Maruti,Wagon,mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,NaN,998.0,58.16,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Hyundai,Creta,pune,2015,41000,Diesel,Manual,First,19.67 kmpl,NaN,1582.0,126.20,5.0,NaN,12.50
2,Honda Jazz V,Honda,Jazz,chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,NaN,1199.0,88.70,5.0,8.61,4.50
3,Maruti Ertiga VDI,Maruti,Ertiga,chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,NaN,1248.0,88.76,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Audi,A4,coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,NaN,1968.0,140.80,5.0,NaN,17.74

In [3]:
Mileage_new = []
for i in train_raw.Mileage:
    if'km/kg' in i:
        Mileage_new.append(float(i.replace('km/kg',""))/1.3564471935108)
    else:
        Mileage_new.append(float(i.replace('kmpl',""))/1.3564471935108)

In [4]:
train_raw.Mileage_kmpl = Mileage_new

In [5]:
for i in range(len(train_raw.New_Price)):
    if type(train_raw["New_Price"][i]) == str:
        if 'Cr' in train_raw["New_Price"][i]:
            train_raw["New_Price"][i] = float(train_raw["New_Price"][i].replace('Cr',''))
        else:
            train_raw["New_Price"][i] = float(train_raw["New_Price"][i])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [6]:
train_raw.isna().sum()

Name                    0
Brand1                  0
Brand2                  0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 0
Mileage_kmpl            0
Engine                 36
Power                 143
Seats                  42
New_Price            5194
Price                   0
dtype: int64

In [7]:
train_raw.shape

(6017, 16)

In [8]:
train_raw[train_raw.Seats.isna()]

,Name,Brand1,Brand2,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Mileage_kmpl,Engine,Power,Seats,New_Price,Price
194,Honda City 1.5 GXI,Honda,City,ahmedabad,2007,60006,Petrol,Manual,First,0.0 kmpl,0.000000,NaN,NaN,NaN,NaN,2.95
208,Maruti Swift 1.3 VXi,Maruti,Swift,kolkata,2010,42001,Petrol,Manual,First,16.1 kmpl,11.869242,NaN,NaN,NaN,NaN,2.11
229,Ford Figo Diesel,Ford,Figo,bangalore,2015,70436,Diesel,Manual,First,0.0 kmpl,0.000000,1498.0,99.0,NaN,NaN,3.60
733,Maruti Swift 1.3 VXi,Maruti,Swift,chennai,2006,97800,Petrol,Manual,Third,16.1 kmpl,11.869242,NaN,NaN,NaN,NaN,1.75
749,Land Rover Range Rover 3.0 D,Land,Rover,mumbai,2008,55001,Diesel,Automatic,Second,0.0 kmpl,0.000000,NaN,NaN,NaN,NaN,26.50
1294,Honda City 1.3 DX,Honda,City,delhi,2009,55005,Petrol,Manual,First,12.8 kmpl,9.436416,NaN,NaN,NaN,NaN,3.20
1327,Maruti Swift 1.3 ZXI,Maruti,Swift,hyderabad,2015,50295,Petrol,Manual,First,16.1 kmpl,11.869242,NaN,NaN,NaN,NaN,5.80
1385,Honda City 1.5 GXI,Honda,City,pune,2004,115000,Petrol,Manual,Second,0.0 kmpl,0.000000,NaN,NaN,NaN,NaN,1.50
1460,Land Rover Range Rover Sport 2005 2012 Sport,Land,Rover,coimbatore,2008,69078,Petrol,Manual,First,0.0 kmpl,0.000000,NaN,NaN,NaN,NaN,40.88
1917,Honda City 1.5 EXI,Honda,City,jaipur,2005,88000,Petrol,Manual,Second,13.0 kmpl,9.583860,1493.0,100.0,NaN,NaN,1.70
2074,Maruti Swift 1.3 LXI,Maruti,Swift,pune,2011,24255,Petrol,Manual,First,16.1 kmpl,11.869242,NaN,NaN,NaN,NaN,3.15
2096,Hyundai Santro LP zipPlus,Hyundai,Santro,coimbatore,2004,52146,Petrol,Manual,First,0.0 kmpl,0.000000,NaN,NaN,NaN,NaN,1.93
2264,Toyota Etios Liva V,Toyota,Etios,pune,2012,24500,Petrol,Manual,Second,18.3 kmpl,13.491126,NaN,NaN,NaN,NaN,2.95
2325,Maruti Swift 1.3 VXI ABS,Maruti,Swift,pune,2015,67000,Petrol,Manual,First,16.1 kmpl,11.869242,NaN,NaN,NaN,NaN,4.70
2335,Maruti Swift 1.3 VXi,Maruti,Swift,mumbai,2007,55000,Petrol,Manual,Second,16.1 kmpl,11.869242,NaN,NaN,NaN,NaN,1.75
2369,Maruti Estilo LXI,Maruti,Estilo,chennai,2008,56000,Petrol,Manual,Second,19.5 kmpl,14.375790,1061.0,NaN,NaN,NaN,1.50
2530,BMW 5 Series 520d Sedan,BMW,5,kochi,2014,64158,Diesel,Automatic,First,18.48 kmpl,13.623826,NaN,NaN,NaN,NaN,17.89
2542,Hyundai Santro GLS II - Euro II,Hyundai,Santro,bangalore,2011,65000,Petrol,Manual,Second,0.0 kmpl,0.000000,NaN,NaN,NaN,NaN,3.15
2623,BMW 5 Series 520d Sedan,BMW,5,pune,2012,95000,Diesel,Automatic,Second,18.48 kmpl,13.623826,NaN,NaN,NaN,NaN,18.00
2668,Maruti Swift 1.3 VXi,Maruti,Swift,kolkata,2014,32986,Petrol,Manual,First,16.1 kmpl,11.869242,NaN,NaN,NaN,NaN,4.24
2737,Maruti Wagon R Vx,Maruti,Wagon,jaipur,2001,200000,Petrol,Manual,First,12.0 kmpl,8.846640,NaN,NaN,NaN,NaN,0.70
2780,Hyundai Santro GLS II - Euro II,Hyundai,Santro,pune,2009,100000,Petrol,Manual,First,0.0 kmpl,0.000000,NaN,NaN,NaN,NaN,1.60
2842,Hyundai Santro GLS II - Euro II,Hyundai,Santro,bangalore,2012,43000,Petrol,Manual,First,0.0 kmpl,0.000000,NaN,NaN,NaN,NaN,3.25
3272,BMW 5 Series 520d Sedan,BMW,5,mumbai,2008,81000,Diesel,Automatic,Second,18.48 kmpl,13.623826,NaN,NaN,NaN,NaN,10.50
3404,Maruti Swift 1.3 VXi,Maruti,Swift,jaipur,2006,125000,Petrol,Manual,Fourth & Above,16.1 kmpl,11.869242,NaN,NaN,NaN,NaN,2.35
3520,BMW 5 Series 520d Sedan,BMW,5,delhi,2012,90000,Diesel,Automatic,First,18.48 kmpl,13.623826,NaN,NaN,NaN,NaN,14.50
3522,Hyundai Santro GLS II - Euro II,Hyundai,Santro,kochi,2012,66400,Petrol,Manual,First,0.0 kmpl,0.000000,NaN,NaN,NaN,NaN,2.66
3800,Ford Endeavour Hurricane LE,Ford,Endeavour,mumbai,2012,129000,Diesel,Automatic,First,12.8 kmpl,9.436416,2953.0,NaN,NaN,NaN,7.00
3810,Honda CR-V AT With Sun Roof,Honda,CR-V,kolkata,2013,27000,Petrol,Automatic,First,14.0 kmpl,10.321080,NaN,NaN,NaN,NaN,11.99
3882,Maruti Estilo LXI,Maruti,Estilo,kolkata,2010,40000,Petrol,Manual,Second,19.5 kmpl,14.375790,1061.0,NaN,NaN,NaN,2.50
4011,Fiat Punto 1.3 Emotion,Fiat,Punto,pune,2011,45271,Diesel,Manual,First,20.3 kmpl,14.965566,NaN,NaN,NaN,NaN,2.60
4152,Land Rover Range Rover 3.0 D,Land,Rover,mumbai,2003,75000,Diesel,Automatic,Second,0.0 kmpl,0.000000,NaN,NaN,NaN,NaN,16.11
4229,Hyundai Santro Xing XG,Hyundai,Santro,bangalore,2005,79000,Petrol,Manual,Second,17.0 kmpl,12.532740,NaN,NaN,NaN,NaN,1.65
4576,BMW 5 Series 520d Sedan,BMW,5,delhi,2012,72000,Diesel,Automatic,Third,18.48 kmpl,13.623826,NaN,NaN,NaN,NaN,13.85
4603,Honda Jazz Select Edition,Honda,Jazz,pune,2011,98000,Petrol,Manual,First,16.7 kmpl,12.311574,NaN,NaN,NaN,NaN,3.15
4696,Fiat Punto 1.2 Dynamic,Fiat,Punto,kochi,2017,17941,Petrol,Manual,First,15.7 kmpl,11.574354,NaN,NaN,NaN,NaN,3.93
4711,Hyundai Santro Xing XG,Hyundai,Santro,pune,2003,80000,Petrol,Manual,Second,17.0 kmpl,12.532740,NaN,NaN,NaN,NaN,0.90
4950,Fiat Punto 1.4 Emotion,Fiat,Punto,kolkata,2010,47000,Petrol,Manual,First,14.6 kmpl,10.763412,NaN,NaN,NaN,NaN,1.49
5013,Maruti Swift 1.3 VXi,Maruti,Swift,delhi,2006,63000,Petrol,Manual,First,16.1 kmpl,11.869242,NaN,NaN,NaN,NaN,1.60
5183,Maruti Swift 1.3 LXI,Maruti,Swift,delhi,2012,52000,Petrol,Manual,First,16.1 kmpl,11.869242,NaN,NaN,NaN,NaN,3.65
5268,Honda City 1.5 GXI,Honda,City,bangalore,2002,53000,Petrol,Manual,Second,0.0 kmpl,0.000000,NaN,NaN,NaN,NaN,1.85
5891,Maruti Estilo LXI,Maruti,Estilo,chennai,2008,51000,Petrol,Manual,Second,19.5 kmpl,14.375790,1061.0,NaN,NaN,NaN,1.75

In [9]:
train_raw.drop(["Name","New_Price","Mileage"],inplace=True,axis=1)

In [10]:
cat_columns = ['Brand1', 'Brand2', 'Location','Fuel_Type', 'Transmission', 'Owner_Type']
train_raw_dummies = pd.get_dummies(train_raw, prefix_sep="__",
                              columns=cat_columns, drop_first= True)

In [11]:
train_raw_dummies

,Year,Kilometers_Driven,Mileage_kmpl,Engine,Power,Seats,Price,Brand1__Audi,Brand1__BMW,Brand1__Bentley,...,Location__kolkata,Location__mumbai,Location__pune,Fuel_Type__Diesel,Fuel_Type__LPG,Fuel_Type__Petrol,Transmission__Manual,Owner_Type__Fourth & Above,Owner_Type__Second,Owner_Type__Third
0,2010,72000,19.610052,998.0,58.16,5.0,1.75,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1,2015,41000,14.501117,1582.0,126.20,5.0,12.50,0,0,0,...,0,0,1,1,0,0,1,0,0,0
2,2011,46000,13.417404,1199.0,88.70,5.0,4.50,0,0,0,...,0,0,0,0,0,1,1,0,0,0
3,2012,87000,15.312059,1248.0,88.76,7.0,6.00,0,0,0,...,0,0,0,1,0,0,1,0,0,0
4,2013,40670,11.205744,1968.0,140.80,5.0,17.74,1,0,0,...,0,0,0,1,0,0,0,0,1,0
5,2012,75000,15.555342,814.0,55.20,5.0,2.35,0,0,0,...,0,0,0,0,1,0,1,0,0,0
6,2013,86999,17.015038,1461.0,63.10,5.0,3.50,0,0,0,...,0,0,0,1,0,0,1,0,0,0
7,2016,36000,8.374819,2755.0,171.50,8.0,17.50,0,0,0,...,0,1,0,1,0,0,0,0,0,0
8,2013,64430,15.142499,1598.0,103.60,5.0,5.20,0,0,0,...,0,0,1,1,0,0,1,0,0,0
9,2012,65932,16.440006,1248.0,74.00,5.0,1.95,0,0,0,...,0,0,0,1,0,0,1,0,1,0
10,2018,25692,15.894463,1462.0,103.25,5.0,9.95,0,0,0,...,0,0,0,0,0,1,1,0,0,0
11,2012,60000,12.385296,1497.0,116.30,5.0,4.49,0,0,0,...,1,0,0,0,0,1,0,0,0,0
12,2015,64424,18.577944,1248.0,74.00,5.0,5.60,0,0,0,...,0,0,0,1,0,0,1,0,0,0
13,2014,72000,9.362694,2179.0,187.70,5.0,27.00,0,0,0,...,0,0,0,1,0,0,0,0,0,0
14,2012,85000,0.000000,2179.0,115.00,5.0,17.50,0,0,0,...,0,0,1,1,0,0,0,0,1,0
15,2014,110000,9.952470,2477.0,175.56,7.0,15.00,0,0,0,...,0,0,0,1,0,0,1,0,0,0
16,2016,58950,19.020276,1498.0,98.60,5.0,5.40,0,0,0,...,0,0,0,1,0,0,1,0,0,0
17,2017,25000,20.937048,1248.0,74.00,5.0,5.99,0,0,0,...,0,0,0,1,0,0,1,0,0,0
18,2014,77469,15.076149,1461.0,83.80,5.0,6.34,0,0,0,...,0,0,0,1,0,0,1,0,0,0
19,2014,78500,10.940345,2143.0,167.62,5.0,28.00,0,0,0,...,0,0,0,1,0,0,0,0,0,0
20,2014,32982,16.727522,1995.0,190.00,5.0,18.55,0,1,0,...,0,0,0,1,0,0,0,0,0,0
21,2015,55392,17.435253,1248.0,88.50,5.0,8.25,0,0,0,...,0,0,0,1,0,0,1,0,1,0
22,2015,55985,9.974587,1984.0,177.01,5.0,23.50,1,0,0,...,0,1,0,0,0,1,0,0,0,0
23,2010,45807,13.638570,1197.0,80.00,5.0,1.87,0,0,0,...,1,0,0,0,0,1,1,0,0,0
24,2010,33000,10.615968,1598.0,103.60,5.0,2.85,0,0,0,...,1,0,0,0,0,1,0,0,0,0
25,2012,51920,12.385296,1497.0,116.30,5.0,4.25,0,0,0,...,0,1,0,0,0,1,1,0,0,0
26,2012,54000,17.015038,1461.0,63.10,5.0,4.25,0,0,0,...,0,0,0,1,0,0,1,0,0,0
27,2013,54000,15.422642,998.0,67.10,5.0,2.75,0,0,0,...,0,0,0,0,0,1,1,0,1,0
28,2018,37430,12.901350,1199.0,88.70,5.0,9.90,0,0,0,...,0,0,0,0,0,1,1,0,0,0
29,2007,262000,9.436416,2494.0,102.00,7.0,4.00,0,0,0,...,0,1,0,1,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,2013,58629,13.454265,1968.0,187.74,5.0,16.52,1,0,0,...,0,0,0,1,0,0,0,0,1,0
5988,2008,86000,10.269475,2179.0,138.00,7.0,0.60,0,0,0,...,0,0,1,1,0,0,1,0,0,1
5989,2012,68238,16.882338,1248.0,74.00,5.0,4.80,0,0,0,...,0,0,0,1,0,0,1,0,0,0
5990,2011,42036,10.099914,1798.0,157.75,5.0,6.25,0,0,0,...,0,1,0,0,0,1,0,0,0,0
5991,2014,55619,12.016686,1797.0,147.50,5.0,8.30,0,0,0,...,0,1,0,0,0,1,1,0,0,0
5992,2009,60000,12.532740,1497.0,118.00,5.0,3.25,0,0,0,...,0,0,1,0,0,1,1,0,0,1
5993,2015,30000,14.648561,1461.0,83.80,5.0,7.75,0,0,0,...,0,0,1,1,0,0,1,0,0,0
5994,2016,31150,12.060919,2179.0,187.70,5.0,30.54,0,0,0,...,0,0,0,1,0,0,0,0,0,0
5995,2010,70000,19.315164,998.0,58.20,5.0,2.27,0,0,0,...,0,0,0,0,1,0,1,0,0,0
5996,2010,70290,12.709673,1198.0,73.90,5.0,2.96,0,0,0,...,0,0,1,0,0,1,1,0,1,0
5997,2016,10000,12.952955,1193.0,88.70,5.0,4.00,0,0,0,...,0,0,0,0,0,1,1,0,0,0
5998,2014,68010,13.638570,1197.0,82.85,5.0,5.25,0,0,0,...,0,0,0,0,0,1,1,0,1,0
5999,2013,91903,13.034050,1968.0,174.33,5.0,17.56,1,0,0,...,0,0,0,1,0,0,0,0,0,0
6000,2011,38000,11.861870,1598.0,103.50,5.0,3.25,0,0,0,...,0,1,0,0,0,1,1,0,0,0
6001,2015,67600,17.029782,998.0,67.04,5.0,4.00,0,0,0,...,0,0,0,0,0,1,1,0,0,0
6002,2007,66800,11.279466,1341.0,83.00,5.0,2.20,0,0,0,...,0,0,0,0,0,1,1,0,0,0
6003,2016,37208,17.914446,1248.0,88.50,5.0,7.43,0,0,0,...,0,0,1,1,0,0,1,0,0,0
6004,2009,102002,6.413814,2987.0,224.34,5.0,10.75,0,0,0,...,0,1,0,1,0,0,0,0,0,0
6005,2011,68000,14.228346,1248.0,73.90,5.0,2.75,0,0,0,...,0,0,0,1,0,0,1,0,0,0
6006,2013,40000,13.159377,2967.0,300.00,4.0,45.00,0,0,0,...,0,0,0,1,0,0,0,0,1,0
6007,2015,33500,14.125135,2494.0,158.20,5.0,19.75,0,0,0,...,0,1,0,0,0,1,0,0,0,0
6008,2013,33746,13.638570,1198.0,86.80,5.0,3.20,0,0,0,...,0,0,0,0,0,1,1,0,0,0
6009,2009,53000,0.000000,3597.0,262.60,5.0,4.75,0,0,0,...,0,0,0,0,0,1,0,0,0,0
6010,2011,45004,9.436416,2494.0,102.00,7.0,9.48,0,0,0,...,0,0,0,1,0,0,1,0,0,0
6011,2015,70602,19.020276,1498.0,98.60,5.0,4.83,0,0,0,...,0,0,0,1,0,0,1,0,0,0
6012,2014,27365,20.937048,1248.0,74.00,5.0,4.75,0,0,0,...,0,0,0,1,0,0,1,0,0,0
6013,2015,100000,17.988168,1120.0,71.00,5.0,4.00,0,0,0,...,0,0,0,1,0,0,1,0,0,0
6014,2012,55000,10.321080,2498.0,112.00,8.0,2.90,0,0,0,...,0,0,0,1,0,0,1,0,1,0
6015,2013,46000,13.933458,998.0,67.10,5.0,2.65,0,0,0,...,1,0,0,0,0,1,1,0,0,0
6016,2011,47000,18.754877,936.0,57.60,5.0,2.50,0,0,0,...,0,0,0,1,0,0,1,0,0,0

In [12]:
train_raw_dummies_ = train_raw_dummies.copy()

In [13]:
def impute(df_, label):
    df = df_.copy()

    test_index= list(df[df[label].isna()].index)
    train_index = list(set(list(df.index)) - set(test_index))

    features = df.drop([label],axis=1)

    imputer = Imputer()
    transformed_values = imputer.fit_transform(features)
    features = pd.DataFrame(transformed_values, columns=features.columns)

    X_train = features.loc[train_index]
    Y_train = df.loc[train_index][label]

    X_test = features.loc[test_index]

    print(Y_train.isna().sum())
    rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
    rf.fit(X_train, Y_train)
    Y_output = rf.predict(X_test)

    for i,j in enumerate(test_index):
        df_[label][j] = Y_output[i]
        
    return df_

def results(y_test, prediction):
    print("R2 : "+str(r2_score(y_test, prediction))+"MAE : "+str(mean_absolute_error(y_test, prediction))+"RMSE : "+str(math.sqrt(mean_squared_error(y_test, prediction))))

In [14]:
for col in ["Engine", "Seats", "Power"]:
    train_raw_dummies = impute(train_raw_dummies, col)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
sum(train_raw_dummies.isna().sum())

0

In [22]:
X_train, X_test, y_train, y_test = train_test_split(train_raw_dummies.drop(["Price"],axis = 1), train_raw_dummies.Price, test_size=0.3, random_state=42)

In [23]:
rf = RandomForestRegressor(n_estimators = 500, random_state = 42)
rf.fit(X_train, y_train)
prediction = rf.predict(X_test)

In [24]:
results(y_test, prediction)

R2 : 0.9038992618412603MAE : 1.4338789031798762RMSE : 3.391154219084439

In [44]:
!pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/55/a3/0443f403f5e926ee1eb878fc737374a0e227c16dff0455d85eef4812b0b5/catboost-0.17.2-cp37-none-win_amd64.whl (61.7MB)
Requirement already satisfied: numpy>=1.16.0 in c:\programdata\anaconda3\lib\site-packages (from catboost) (1.16.2)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from catboost) (1.2.1)
Requirement already satisfied: pandas>=0.24.0 in c:\programdata\anaconda3\lib\site-packages (from catboost) (0.24.2)
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (from catboost) (3.0.3)
Requirement already satisfied: plotly in c:\programdata\anaconda3\lib\site-packages (from catboost) (3.10.0)
Collecting graphviz (from catboost)
  Downloading https://files.pythonhosted.org/packages/94/cd/7b37f2b658995033879719e1ea4c9f171bf7a14c16b79220bd19f9eda3fe/graphviz-0.13-py2.py3-none-any.whl
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from catboost) (1.12.0)
Requirement already satisfied: pytz>=2011k in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.0->catboost) (2.8.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->catboost) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->catboost) (2.3.1)
Requirement already satisfied: nbformat>=4.2 in c:\programdata\anaconda3\lib\site-packages (from plotly->catboost) (4.4.0)
Requirement already satisfied: retrying>=1.3.3 in c:\programdata\anaconda3\lib\site-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from plotly->catboost) (2.21.0)
Requirement already satisfied: decorator>=4.0.6 in c:\programdata\anaconda3\lib\site-packages (from plotly->catboost) (4.4.0)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (40.8.0)
Requirement already satisfied: jupyter-core in c:\programdata\anaconda3\lib\site-packages (from nbformat>=4.2->plotly->catboost) (4.4.0)
Requirement already satisfied: traitlets>=4.1 in c:\programdata\anaconda3\lib\site-packages (from nbformat>=4.2->plotly->catboost) (4.3.2)
Requirement already satisfied: ipython-genutils in c:\programdata\anaconda3\lib\site-packages (from nbformat>=4.2->plotly->catboost) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\programdata\anaconda3\lib\site-packages (from nbformat>=4.2->plotly->catboost) (3.0.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->plotly->catboost) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->plotly->catboost) (2019.3.9)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->plotly->catboost) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->plotly->catboost) (3.0.4)
Requirement already satisfied: attrs>=17.4.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2->plotly->catboost) (19.1.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2->plotly->catboost) (0.14.11)
Installing collected packages: graphviz, catboost
Successfully installed catboost-0.17.2 graphviz-0.13

In [45]:
import catboost

In [46]:
cat_model = catboost.CatBoostRegressor()
cat_model.fit(X_train, y_train)

In [48]:
cat_predict = cat_model.predict(X_test)

In [49]:
results(y_test, cat_predict)

R2 : 0.9096170083912416MAE : 1.4635206997877295RMSE : 3.2887248116094066